APP_ENV={{ app_env }}
APP_PORT={{ backend_port }}
APP_LOG_LEVEL={{ backend_log_level }}
DB_TYPE={{ db_type }}
DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
DB_NAME={% if db_type == 'sqlite3' %}{{ app_base_dir }}/data/itsm.db{% else %}{{ db_name }}{% endif %}

DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
JWT_SECRET={{ jwt_secret }}
JWT_EXPIRE={{ jwt_expire }}
