COLLECTOR_ENDPOINT=http://{{ hostvars[groups['backend'][0]]['ansible_host'] | default(groups['backend'][0]) }}:{{ backend_port }}/api/v1/collect
COLLECTOR_TOKEN={{ collector_token }}
COLLECTOR_ASSET_ID={{ ansible_default_ipv4.address | hash('md5') | int(base=16) % 10000 + 1 }}
COLLECTOR_INTERVAL={{ collector_interval }}
COLLECTOR_MODE={{ collector_mode }}
